/* You can add global styles to this file, and also import other style files */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.body{
	background-color: hsl(0, 0%, 95%);
}

.main-content{
	min-height: 100vh;
}

.footer {
	background-color: #1b181f;
	color: #eee;
	padding: 50px 10px 50px 10px;
}


.footer h2 {
	color: #fff;
}

.footer-col {
	padding: 5px 10px 5px 10px;
}

.footer-bottom {
	height: 50px;
	text-align: center;
	background: #000;
	color: #fff;
}

.footer-bottom p {
	line-height: 50px;
	opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link{
  color: #fff !important;
}

.navbar-light .navbar-nav .active{
  color: #000 !important;
}